[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-dispatch"]
	path = vim/vim.symlink/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim.symlink/bundle/vim-unimpaired"]
	path = vim/vim.symlink/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/tmuxline"]
	path = vim/vim.symlink/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/vim-signify"]
	path = vim/vim.symlink/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/vim.symlink/bundle/gruvbox"]
	path = vim/vim.symlink/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/vim.symlink/bundle/badwolf"]
	path = vim/vim.symlink/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
