[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-plugin-minibufexpl"]
	path = vim/vim.symlink/bundle/vim-plugin-minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-dispatch"]
	path = vim/vim.symlink/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim.symlink/bundle/vim-unimpaired"]
	path = vim/vim.symlink/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/powerline"]
	path = vim/vim.symlink/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
